<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grgbanking.electric.mapper.IEventMapper">
	<resultMap type="com.grgbanking.electric.entity.Event" id="event">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="TERMINAL_ID" property="terminalId" jdbcType="VARCHAR" />
		<result column="TERMINAL_CODE" property="terminalCode" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="CODE" property="code" jdbcType="VARCHAR" />
		<result column="PARAM_VALUE" property="paramValue" jdbcType="VARCHAR" />
		<result column="EQUIPMENT_CODE" property="equipmentCode" jdbcType="VARCHAR" />
		<result column="ALARM_CODE" property="alarmCode" jdbcType="VARCHAR" />
		<result column="ACCIDENT_REASON" property="accidentReason" jdbcType="VARCHAR" />
		<result column="SAMPLE_TYPE" property="sampleType" jdbcType="INTEGER" />
		<result column="DEAL_STATUS" property="dealStatus" jdbcType="VARCHAR" />
		<result column="ACTIVE" property="active" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="sqlQuery">
        FROM EVENT a left join TERMINAL b on a.TERMINAL_ID = b.ID where 1=1
		
		<if test="param.terminalId != null and param.terminalId != ''">
			AND a.TERMINAL_ID = #{param.terminalId, jdbcType=VARCHAR}
		</if>
		<if test="param.createDateBegin != null and param.createDateBegin != ''">
            AND to_char(a.CREATE_TIME, 'YYYY-MM-DD') <![CDATA[>=]]> #{param.createDateBegin}
        </if>
        <if test="param.createDateEnd != null and param.createDateEnd != ''">
            AND to_char(a.CREATE_TIME, 'YYYY-MM-DD') <![CDATA[<=]]> #{param.createDateEnd}
        </if>
	</sql>
	
	<!-- 根据ID查找 -->
	<select id="getById" resultMap="event">
    	SELECT * FROM EVENT WHERE ID = #{id, jdbcType=VARCHAR}
  	</select>
  	
  	<!-- 多条件查找 -->
  	<select id="getData" resultMap="event">
    	SELECT * FROM EVENT WHERE ID = #{param.id, jdbcType=VARCHAR}
  	</select>
  	
  	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="event">
		SELECT 
			b.CODE TERMINAL_CODE,
			a.* 
			<include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
	</select>
	<select id="queryAll" resultMap="event">
		SELECT a.* FROM EVENT a
			order by a.CREATE_TIME desc
	</select>
  	
  	<!-- 新增 -->
  	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO EVENT
		  (ID,
		   	NAME,
			CODE,
			PARAM_VALUE,
			EQUIPMENT_CODE,
			ALARM_CODE,
			ACCIDENT_REASON,
			SAMPLE_TYPE,
			DEAL_STATUS,
			TERMINAL_ID,
		   	VERSION,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	REMARKS)
		VALUES
		  (#{param.id, jdbcType=VARCHAR},
		   	#{param.name, jdbcType=VARCHAR},
			#{param.code, jdbcType=VARCHAR},
			#{param.paramValue, jdbcType=VARCHAR},
			#{param.equipmentCode, jdbcType=VARCHAR},
			#{param.alarmCode, jdbcType=VARCHAR},
			#{param.accidentReason, jdbcType=VARCHAR},
			#{param.sampleType, jdbcType=INTEGER},
			#{param.dealStatus, jdbcType=VARCHAR},
			#{param.terminalId, jdbcType=VARCHAR},
		   	#{param.version, jdbcType=INTEGER},
		   	#{param.createTime, jdbcType=TIMESTAMP},
		   	#{param.createBy, jdbcType=VARCHAR},
		   	#{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<!-- 批量新增 -->
	<insert id="saveBatch">
		INSERT INTO EVENT
		  (ID,
		   	NAME,
			CODE,
			PARAM_VALUE,
			EQUIPMENT_CODE,
			ALARM_CODE,
			ACCIDENT_REASON,
			SAMPLE_TYPE,
			DEAL_STATUS,
			TERMINAL_ID,
		   	VERSION,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	REMARKS)
		VALUES
		<foreach collection="list" item="param" index="index" separator="," >
		  (#{param.id, jdbcType=VARCHAR},
		   	#{param.name, jdbcType=VARCHAR},
			#{param.code, jdbcType=VARCHAR},
			#{param.paramValue, jdbcType=VARCHAR},
			#{param.equipmentCode, jdbcType=VARCHAR},
			#{param.alarmCode, jdbcType=VARCHAR},
			#{param.accidentReason, jdbcType=VARCHAR},
			#{param.sampleType, jdbcType=INTEGER},
			#{param.dealStatus, jdbcType=VARCHAR},
			#{param.terminalId, jdbcType=VARCHAR},
		   	#{param.version, jdbcType=INTEGER},
		   	#{param.createTime, jdbcType=TIMESTAMP},
		   	#{param.createBy, jdbcType=VARCHAR},
		   	#{param.remarks, jdbcType=VARCHAR})
		</foreach>  
	</insert>
	
	<update id="update">
		UPDATE EVENT a
		<set>
		<if test="param.name != null and param.name != ''">
		 a.NAME = #{param.name, jdbcType=VARCHAR},
		</if>
		<if test="param.code != null and param.code != ''">
		 a.CODE = #{param.code, jdbcType=VARCHAR},
		</if>
		<if test="param.values != null and param.values != ''">
		 a.VALUES = #{param.values, jdbcType=VARCHAR},
		</if>
		<if test="param.equipmentCode != null and param.equipmentCode != ''">
		 a.EQUIPMENT_CODE = #{param.equipmentCode, jdbcType=VARCHAR},
		</if>
		<if test="param.alarmCode != null and param.alarmCode != ''">
		 a.ALARM_CODE = #{param.alarmCode, jdbcType=VARCHAR},
		</if>
		<if test="param.accidentReason != null and param.accidentReason != ''">
		 a.ACCIDENT_REASON = #{param.accidentReason, jdbcType=VARCHAR},
		</if>
		<if test="param.sampleType != null and param.sampleType != ''">
		 a.SAMPLE_TYPE = #{param.sampleType, jdbcType=INTEGER},
		</if>
		<if test="param.dealStatus != null and param.dealStatus != ''">
		 a.DEAL_STATUS = #{param.dealStatus, jdbcType=VARCHAR},
		</if>
		<if test="param.terminalId != null and param.terminalId != ''">
		 a.TERMINAL_ID = #{param.terminalId, jdbcType=VARCHAR},
		</if>
		a.UPDATE_TIME = #{param.updateTime, jdbcType=TIMESTAMP},
		a.UPDATE_BY = #{param.updateBy, jdbcType=VARCHAR}
		</set>
		WHERE a.ID = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<!-- 根据ID删除-->
	<delete id="deleteById">
		delete from EVENT a where a.ID = #{id, jdbcType=VARCHAR}
	</delete>
	
	<!-- 多条件删除 -->
	<delete id="delete">
		delete from EVENT a where a.ID = #{param.id, jdbcType=VARCHAR}
	</delete>
	
	<!-- 根据ID批量删除-->
	<delete id="deleteByIds">
		delete from EVENT a where a.ID in (
		<foreach collection="ids" item="id" index="index" separator="," >
		  #{id, jdbcType=VARCHAR}
		</foreach>)
	</delete>
</mapper>